body {
  margin: 0;
  font-family: "SuisseIntl";
  font-size: 14px;
  color: #1c1c1c;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
}
.proddetails_section {
  width: 75%;
  margin: auto;
  margin-top: 20px;
}
.breadcrumbs_proddesc {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  text-align: left;
  color: #1c1c1c;
  margin-bottom: 15px;
}
.thumbnail_and_details {
  width: 100%;
  height: 204px;
  display: flex;
}
.thumbnail_carousel {
  width: 50%;
}
.thumbnail_carousel_rb {
  height: 204px;
}
.thumbnail_carousel_img_parent_div{
    width: 90%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thumbnail_carousel_image {
  width: 100px;
  height: 180px;
  margin-left: 40px;
}
.thumbnail_carousel_rb .heartsvg:hover {
  fill: red;
  color: red;
}
.thumbnail_details {
  display: flex;
  width: 50%;
  padding: 0px 15px;
  height: 204px;
  align-items: flex-start;
  flex-direction: column;
}
.thumbnail_details div {
  width: 100%;
  text-align: left;
  margin-top: 14px;
}
.title_prod_desc {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.Shop_with_concierge {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Shop_with_concierge div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  color: #8e8e8e;
  margin-top: 14px;
}
.Shop_with_concierge button {
  height: 40px;
  width: 45%;
  border: 1px solid #8e8e8e;
}
.compare_stores_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  height: 124px;
  margin-top: 30px;
}
.compare_stores_div div {
  width: 48%;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.set_alert {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  width: 187px;
  height: 39px;
  border: 1px solid #8e8e8e;
  color: #333;
  font-size: 14px;
}
.set_alert:hover {
  color: #fff;
  background-color: #1c1c1c;
}
.sale_prod_desc img{
    width: 100%;
}
.sale_prod_desc{
    width: 100%;
    margin-top: 30px;
}
.img_product_details_carousel{
    width: 100px;
    height: 153px;
    margin-left: 60px;
    padding-right: 0px;
}
.product_details_carousel_item{
    display: flex;
    align-items: center;
}
.prod_details_carousel{
    width: 100%;
    margin: auto;
    height: 251px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}
.viewer_ALSO_LIKED{
    display: grid;
    grid-template-columns: repeat(4,281px);
    grid-template-rows: repeat(2,441px);
}
.view_more_also_liked{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view_more_also_liked button{
    width: 123px;
    height: 39px;
    background-color: #fff;
    border: 1px solid #8e8e8e;
    color: #1c1c1c;
}
.view_more_also_liked button:hover{
    color: #fff;
    background-color: #1c1c1c;
}
.upperNavbarCarousel{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content:center;
    position: fixed;
}
.prod_review{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding-bottom: 20px;
  padding-top: 20px;
}
.prod_review div{
  width: 50%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prod_review div span{
   font-size: 24px;
   color: #1c1c1c;
   font-weight: 600;
   margin-left: 10px;
}